* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*variable*/
/*mixin*/
body {
  background-color: #86A789;
}

/*header*/
header nav {
  background-color: #3A4D39;
}
header nav .logo img {
  height: 80px;
  color: white;
  filter: invert(1);
  padding-left: 40px;
}
header nav .sidebar {
  background-color: #3A4D39;
}

/*inicio*/
main .cont_ini {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
main .cont_ini .tex_ini h1 {
  color: #ECE3CE;
  margin-top: 25px;
  padding-left: 25px;
  font-size: 40px;
  padding-right: 30px;
  font-family: "Montserrat", sans-serif;
}
main .cont_ini .tex_ini p {
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  color: #ECE3CE;
  font-size: 20px;
}
main .cont_ini .img_ini {
  height: 100%;
  width: 500px;
  object-fit: cover;
}
main .cont_ini2 {
  display: flex;
  justify-content: center;
}
main .cont_ini2 .tex_ini2 p {
  padding-left: 35px;
  padding-top: 40px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  color: #ECE3CE;
  font-size: 20px;
}
main .cont_ini2 .img_ini2 {
  height: 700px;
  width: 600px;
  margin-right: 20px;
  object-fit: cover;
}

/*Menu*/
main .cont_menu {
  display: flex;
  justify-content: center;
}
main .cont_menu .text_menu {
  color: #ECE3CE;
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  margin-right: 10px;
}
main .cont_menu .text_menu ul li {
  font-size: 13px;
}
main .cont_menu .img_menu {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
}

/*reservas*/
main .cont_form {
  display: flex;
}
main .cont_form .img_form {
  height: 100%;
  width: 700px;
  border-radius: 1%;
}
main .texto_form h1 {
  color: #ECE3CE;
  margin-top: 20px;
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
}
main .texto_form form .form {
  color: #ECE3CE;
  margin-top: 25px;
  padding-left: 25px;
}

/*contacto*/
main {
  justify-content: center;
}
main .cont_text {
  color: #ECE3CE;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 25px;
  text-align: center;
}
main .maps {
  text-align: center;
}
main .maps iframe {
  width: 800px;
  height: 350px;
}

/*tienda*/
main .cont_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  margin-left: 60px;
  margin-top: 20px;
}
main .cont_items .item .img_prod {
  width: 300px;
  height: 300px;
}
main .cont_items .item:hover {
  transform: scale(1.05);
}
main .cont_items .item .inf_prod {
  padding-top: 20px;
  padding-bottom: 30px;
  color: #ECE3CE;
  font-family: "Montserrat", sans-serif;
}
main .cont_items .item .inf_prod h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
main .cont_items .item .inf_prod p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

/*footer*/
footer .cont_footer .text_footer {
  background-color: #4F6F52;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}
footer .cont_footer .text_footer h2 {
  color: #ECE3CE;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
footer .cont_footer .text_footer .img_footer img {
  height: 30px;
  width: 30px;
  filter: invert(1);
  padding-right: 10px;
  padding-bottom: 10px;
}

/*version tablet*/
@media only screen and (max-width: 800px) {
  /*inicio*/
  main .cont_ini {
    text-align: center;
  }
  main .cont_ini .img_ini {
    height: 300px;
    width: 300px;
  }
  main .cont_ini .tex_ini h1 {
    font-size: 20px;
  }
  main .cont_ini .tex_ini p {
    font-size: 13px;
  }
  main .cont_ini2 .img_ini2 {
    height: 300px;
    width: 300px;
  }
  main .cont_ini2 .tex_ini2 p {
    font-size: 13px;
  }
  /*menu*/
  main .cont_menu {
    flex-wrap: wrap;
  }
  /*Reservas*/
  main .cont_form {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .cont_form .img_form {
    width: 500px;
    height: 500px;
  }
  /*contactos*/
  main .maps {
    margin-left: 10px;
  }
  main .maps iframe {
    width: 300px;
    height: 300px;
  }
}
/*Media querrie version mobile*/
@media only screen and (max-width: 480px) {
  /*inicio*/
  main .cont_ini {
    flex-wrap: wrap;
  }
  main .cont_ini .img_ini {
    height: 300px;
    width: 300px;
  }
  main .cont_ini .tex_ini {
    font-size: 15px;
  }
  main .cont_ini2 {
    flex-wrap: wrap;
  }
  main .cont_ini2 .img_ini2 {
    height: 300px;
    width: 300px;
  }
  main .cont_ini2 .tex_ini2 {
    font-size: 15px;
  }
  /*menu*/
  main .cont_menu {
    flex-wrap: wrap;
  }
  main .cont_menu .img_menu {
    width: 250px;
    height: 250px;
    justify-content: center;
  }
  /*reservas*/
  main .cont_form {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .cont_form .img_form {
    width: 350px;
    height: 350px;
  }
  /*contactos*/
  main .maps {
    margin-left: 10px;
  }
  main .maps iframe {
    width: 300px;
    height: 300px;
  }
  /*tienda*/
  main .cont_items {
    grid-template-columns: repeat(1, 1fr);
  }
  main .cont_items .item .img_prod {
    width: 150px;
    height: 150px;
  }
}

/*# sourceMappingURL=estilo.css.map */
