/*header*/
*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #86A789;
}
.nav_list{
    /*background-color: #4F6F52;*/
    background-color: #3A4D39;
    list-style: none;
    margin: 0% auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
li img{
    height: 70px;
    color: white;
    filter: invert(1);
    
}
.nav_list li a{
    display: inline-block;
    text-align: left; 
    padding: 0 20px;
    color: #ECE3CE;
    text-decoration: none;
  
    
}
/*Reserva*/
.img_form{
    height: 700px;
    width: 700px;
    
}
.contenedor_form{
    display: flex;
}
.contenedor_form h1{
    color:#ECE3CE;
    margin-top: 20px;
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
}
.form{
    color: #ECE3CE;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
}
/*Inicio*/
.img_ini{
    height: 500px;
    width: 500px;
}

.cont_ini{
    display: flex;
}
.tex_ini{
    color:#ECE3CE;
    margin-top: 30px;
    padding-left: 25px;
    width: 800px;
    font-size: 20px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.tex_ini p{
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.img_ini2{
    height: 500px;
    width: 500px;
}
.tex_ini2 p{
    color:#ECE3CE;
    margin-top: 30px;
    padding-left: 25px;
    padding-top: 80px;
    width: 800px;
    font-size: 20px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    
}

/*Menu*/
.text_menu{
    margin-top: 0px;
    margin-right: 50px;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;

}
.cont_menu{
    display: flex;

}

.img_menu{
    width: 500px;
    height: 500px;
    display: flex;
}
.menu{
    padding-top: 30px;
    padding-bottom: 30px;
}

.text_menu{
    color:#ECE3CE;
    font-family: 'Montserrat', sans-serif;
}
.text_menu li{
    font-size:17px;
    font-family: 'Montserrat', sans-serif;

}

.masas{
    padding-top: 45px;
  
}
.cont_text{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color:#ECE3CE;
    font-family: 'Montserrat', sans-serif;
    
}
/*TIENDA*/
.img_prod{
    width: 300px;
    height: 300px;
}

.cont_items{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 1px;
    margin-left: 20px;
}

.text_tienda{
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
    color:#ECE3CE;
    font-family: 'Montserrat', sans-serif;
}
.inf_prod{
    color:#ECE3CE;
}
/*footer*/
.img_footer img{
    
    height: 40px;
    width: 40px;
    filter: invert(1);
    padding-right: 10px;

}

.cont_footer{
    background-color:#4F6F52;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.text_footer{
    color:#ECE3CE;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}