
*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #86A789;
    
}

/*header*/
header nav{
    background-color: #3A4D39;
    
}

.logo img{
    height: 80px;
    color: white;
    filter: invert(1);
    padding-left: 40px;
    
    
}
.sidebar {
    background-color: #3A4D39;
    
}

/*Reserva*/
.img_form{
    height: 700px;
    width: 700px;
    
}
.contenedor_form{
    display: flex;
    
}
.contenedor_form h1{
    color:#ECE3CE;
    margin-top: 20px;
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
}
.form{
    color: #ECE3CE;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
}
/*Inicio*/
.img_ini{
    height: 100%;
    width: 500px;
    object-fit:cover;


}

.cont_ini{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.tex_ini{
    color:#ECE3CE;
    margin-top: 30px;
    padding-left: 25px;
    width: 800px;
    font-size: 20px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.tex_ini p{
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    
}

.img_ini2{
    height: 500px;
    width: 500px;
}
.tex_ini2 {
    color:#ECE3CE;
    margin-top: 30px;
    padding-left: 25px;
    padding-top: 80px;
    width: 800px;
    font-size: 20px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    
    
}

/*Menu*/
.text_menu{
    margin-top: 0px;
    margin-right: 40px;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;

}
.cont_menu{
    display: flex;
    flex-wrap: wrap;
    
 
}

.img_menu{
    width: 400px;
    height: 500px;
    display: flex;
    object-fit: cover;
    
}
.menu{
    padding-top: 30px;
    padding-bottom: 30px;
}

.text_menu{
    color:#ECE3CE;
    font-family: 'Montserrat', sans-serif;
}
.text_menu li{
    font-size:12px;
    font-family: 'Montserrat', sans-serif;

}

.masas{
    padding-top: 45px;
  
}
.cont_text{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color:#ECE3CE;
    font-family: 'Montserrat', sans-serif;
    
}
/*TIENDA*/
.img_prod{
    width: 300px;
    height: 300px;
}

.cont_items{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 1px;
    margin-left: 20px;
    margin-top: 20px;
   
}

.text_tienda{
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
    color:#ECE3CE;
    font-family: 'Montserrat', sans-serif;
}
.inf_prod{
    color:#ECE3CE;
}
/*footer*/
.img_footer img{
    height: 30px;
    width: 30px;
    filter: invert(1);
    padding-right: 10px;

}

.cont_footer{
    background-color:#4F6F52;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;

}
.text_footer h2{
    color:#ECE3CE;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


/*Media querrie*/
@media only screen and (max-width: 420px){

  
    .nav_list{
        width:100%;
        background-color: #3A4D39;
        list-style: none;
        text-align: center;
        display: row;
        justify-content: center;
        align-items: center;
    
        
    }
    li img{
        height: 30px;
    
    }
    .nav_list li a{
        text-align: center; 
        padding: 0 15px;
        font-size: 6px;
        
       
    }

        /*Inicio*/
    .img_ini{
        height: 300px;
        width: 300px;
        justify-content: center;


    }

    .tex_ini{
        color:#ECE3CE;
        margin-top: 30px;
        padding-left: 25px;
        width: 800px;
        font-size: 15px;
        padding-right: 30px;
        text-align: justify;
    }

    .tex_ini p{
        padding-top: 40px;
        text-align: justify;
        
    }

    .img_ini2{
        height: 300px;
        width:  300px;
        justify-content: center;
    }
    .tex_ini2 {
        
        margin-top: 30px;
        padding-left: 25px;
        padding-top: 15px;
        width: 800px;
        font-size: 15px;
        text-align: justify;
        padding-bottom: 10px;
        
    }

        /* Menu */

    .img_menu{
        width: 250px;
        height: 250px;
        justify-content: center;
        padding-left: 120px;
        
    }
    .menu{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .text_menu li{
        font-size:10px;
       

    }
    .masas{
        padding-top: 45px;
        padding-bottom: 20px;
    
    }
    .cont_text{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        
}

    /*footer*/
    .img_footer img{
        
        height: 20px;
        width: 20px;
        filter: invert(1);
        padding-right: 10px;

    }

    .cont_footer{
        background-color:#4F6F52;
        text-align: center;
        display: flex;
        
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }
    .text_footer{
        color:#ECE3CE;
        font-size: 5px;
        
    }

}